# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
*.txt
.png
remove M&O.r
Supply chain exclusions.R
Supply chain exclusions.R
Supply chain exclusions.R
Supply chain exclusions.R
*.csv
Supply chain exclusions.R
Images/Angola_ou_budget_execution.png
globa USAID performance.png
global performance_all_agencies.png
Images/Asia Region_ou_budget_execution.png
